@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  /* border: 1px solid red; */
}



.rounded-custom {
  border-radius: 10px 10px 10px 5px; /* top-left top-right bottom-right bottom-left */
}

.rounded-custom1 {
  border-radius: 10px 10px 5px 10px; /* top-left top-right bottom-right bottom-left */
}

.rounded-custom2 {
  border-radius: 150px 0px 0px 0px; /* top-left top-right bottom-right bottom-left */
}
